 <!-- Brand and toggle get grouped for better mobile display -->
<nav class="container" id="myNav">
	<div class="rows">
			<nav class="col-md-1" id="sidebar-wrapper" role="navigation">
				<ul class="sidebar-nav side-nav">
					<li>
						<div class="contentDiv">
								<img class="arrow" src="<%= asset_path('arrow-nav.png')%>" />
						</div>
					</li>
					<li>
							<a class="page-scroll" href="#main-section">Start</a>
					</li>
					<li>
							<a class="page-scroll" href="#about-section">About</a>
					</li>
					<li>
							<a class="page-scroll" href="#skills-section">Skills</a>
					</li>
					<li>
							<a class="page-scroll" href="#work-section">Work</a>
					</li>
					<li>
							<a class="page-scroll" href="#contact-section">Contact</a>
					</li>
				</ul>
			</nav>
	</div>
</nav>