<nav class="container" id="myNav">
	<div class="rows">
			<nav class="col-md-1" id="sidebar-wrapper" role="navigation">
				<ul class="sidebar-nav side-nav">
					<li>
						<div class="contentDiv">
								<img class="arrow" src="<%= asset_path('arrow-nav.png')%>" />
						</div>
					</li>
					<li>
							<a class="page-scroll" href="#main-section">START</a>
					</li>
					<li>
							<a class="page-scroll" href="#about-section">ABOUT</a>
					</li>
					<li>
							<a class="page-scroll" href="#skills-section">SKILLS</a>
					</li>
					<li>
							<a class="page-scroll" href="#work-section">WORK</a>
					</li>
					<li>
							<a class="page-scroll" href="#contact-section">CONTACT</a>
					</li>
				</ul>
			</nav>
	</div>
</nav>
