<div class="container">
 <div class="container">
 	<div class="row">
		<div class="col-md-7"></div>
		<div class="col-md-4">
			<h1>What You Need To <span class= "changeWhite">Know</span>.</h1>
		</div>
 	</div>
 </div>
 <div class="container">
	 <div class="row">
		 <div class="col-md-1"></div>
	 	<div class="col-md-11">
	 		<div class= "container">
				<div class="row">
				 <div class="col-md-6">
					 <h3 class="changeWhite">Front-End</h3>
           <div class="skillDesc">
  					 <p class=""> I understand the core technology behind HTML, CSS and JavaScript inside and out, which allow me to have a good foundation for learning different frameworks.</p>
           </div>
						<div class="skillBar">
  						<div class="skills frontEnd">50%</div>
						</div>
					</div>
<!-- display icons							-->
					<div class="col-md-6">
								<div class="skillBox">
									<div class="contentBox">
									 <i class="devicon-react-original skillsLogo"></i>
									</div>
								</div>
								<div class="skillBox">
									<div class="contentBox">
										 <i class="devicon-html5-plain-wordmark skillsLogo"></i>
									</div>
							</div>
							<div class="skillBox">
								<div class="contentBox">
									 <i class="devicon-css3-plain-wordmark skillsLogo"></i>
								</div>
							</div>
				 </div>
<!-- end display icon			-->
			</div>
				<div class="row">
					<div class="col-md-6">
            <div class="skillDesc">
  						<h3 class="changeWhite">Back-End</h3>
  						<p class=""> While I want to be a versatile web developer, I prefer backend work. I love making logic work better. I can build up API, authentication, and security using different server-side frameworks.</p>
            </div>
						<div class="skillBar">
  						<div class="skills backend">60%</div>
						</div>
					</div>
<!-- display icons							-->
					<div class="col-md-6">
								<div class="skillBox">
									<div class="contentBox">
									 <i class="devicon-nodejs-plain skillsLogo"></i>
									</div>
								</div>
								<div class="skillBox">
									<div class="contentBox">
										 <i class="devicon-rails-plain-wordmark skillsLogo"></i>
									</div>
							</div>
							<div class="skillBox">
								<div class="contentBox">
									 <i class="devicon-csharp-plain skillsLogo"></i>
								</div>
							</div>
				 </div>
<!-- end display icon			-->
				</div>
				<div class="row">
					<div class="col-md-6">
            <div class="skillDesc">
    					<h3 class="changeWhite"> Other Technologies</h3>
    					<p class= ""> I'm learning a relational database and writing database quiries using Progresql and Mongobd. Furthermore, I’m experiencing with version control software using Git.</p>
            </div>
  					<div class="skillBar">
  						<div class="skills others">50%</div>
  					</div>
					</div>
<!-- display icons							-->
					<div class="col-md-6">
								<div class="skillBox">
									<div class="contentBox">
									 <i class="devicon-windows8-original skillsLogo"></i>
									</div>
								</div>
								<div class="skillBox">
									<div class="contentBox">
										<i class="devicon-postgresql-plain skillsLogo" aria-hidden="true"></i>
									</div>
							</div>
							<div class="skillBox">
								<div class="contentBox">
                  <i class="devicon-git-plain skillsLogo" aria-hidden="true"></i>
								</div>
							</div>
				   </div>
<!-- end display icon			-->
				  </div>
	 		  </div>
	    </div>
    </div>
	</div>
</div>
