<div class= "container">
		<div class= "row">
		<div class="col-xs-1 col-md1"></div>
			<div class="col-xs-5 col-md5">
				<div class="heading-logo">
				</div>
			</div>
			<div class="col-xs-6 col-md6"></div>
		</div>
</div>