<div class="container workContainer">
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-3">
				<h1><span class= "changeBlue">Work's</span> I've Done.</h1>
		</div>
		<div class="col-md-8">
			<div class="workBox">
				<figure class="workDisplay morning">
					<img src="<%= asset_path('project1.png')%>"/>
					<figcaption>
						<div>
							<i class="devicon-html5-plain"></i>
							<i class="devicon-rails-plain"></i>
							<i class="devicon-css3-plain"></i>
						</div>
						<div>
							<p>My Own Portfolio</p>
						</div>
						<a href="#"></a>
					</figcaption>
				</figure>
				<figure class="workDisplay morning"><img src="<%= asset_path('police.png')%>"/>
					<figcaption>
						<div><i class="devicon-ruby-plain"></i></div>
						<div>
							<p>We'd invent machines that do things less efficiently.</p>
						</div>
						<a href="#"></a>
					</figcaption>
				</figure>
				<figure class="workDisplay morning"><img src="<%= asset_path('project2.png')%>"/>
					<figcaption>
						<div>
								<i class="devicon-html5-plain"></i>
								<i class="devicon-rails-plain "></i>
								<i class="devicon-css3-plain"></i>
						</div>
						<div>
							<p>To the machines and go play outside.</p>
						</div>
						<a href="#"></a>
					</figcaption>
				</figure>
					<figure class="workDisplay morning"><img src="<%= asset_path('other-project.png')%>"/>
					<figcaption>
						<div>
								<i class="devicon-html5-plain"></i>
								<i class="devicon-rails-plain "></i>
								<i class="devicon-css3-plain"></i>
						</div>
						<div>
							<p>To the machines and go play outside.</p>
						</div>
						<a href="#"></a>
					</figcaption>
				</figure>
			</div>
		</div>
	</div>
</div>
