<div class="container">
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-3">
				<h1><span class= "changeBlue">Work's</span> I've Done.</h1>
		</div>
		<div class="col-md-8">
			<div class="workBox">
				<div class="row">
				<div class="col">
				<figure class="workDisplay morning">
					<img src="<%= asset_path('project1.png')%>"/>
					<figcaption>
						<div>
							<i class="devicon-html5-plain colored"></i>
							<i class="devicon-bootstrap-plain colored"></i>
							<i class="devicon-css3-plain colored"></i>
						</div>
						<div>
							<p>You are on my very first website!</p>
						</div>
						<a href="#"></a>
					</figcaption>
				</figure>
				<figure class="workDisplay morning"><img src="<%= asset_path('police.png')%>"/>
					<figcaption>
						<div>
						<i class="devicon-ruby-plain colored"></i>
						</div>
						<div>
							<p>A fun terminal based quiz game with a little cute animation.</p>
						</div>
						<a href="#"></a>
					</figcaption>
				</figure>
				<figure class="workDisplay morning"><img src="<%= asset_path('project2.png')%>"/>
					<figcaption>
						<div>
							<i class="devicon-ruby-plain colored"></i>
						</div>
						<div>
							<p>A terminal based ATM simulator</p>
						</div>
						<a href="#"></a>
					</figcaption>
				</figure>
					<figure class="workDisplay morning"><img src="<%= asset_path('other-project.png')%>"/>
					<figcaption>
						<div>
							<i class="devicon-github-plain-wordmark "></i>
						</div>
						<h2>More ></h2>
						<a href="#"></a>
					</figcaption>
				</figure>
					</div>
			</div>
			</div>
		</div>
	</div>
</div>
