#skills-section h1{
	text-align: left;
	padding-bottom: 50px;
}


.skillBar {
	width: 90%;
  background-color: darkgrey;
}

.skills {
    text-align: right;
    padding-right: 20px;
    line-height: 20px;
    color: grey;
}

.frontEnd {width: 30%; background-color: White;}

.backend {width: 40%; background-color: White;}

.others {width: 40%; background-color: White;}

.skillBox {
		float:left;
    position: relative;
    width: 20%;
    margin:1.66%;
    overflow:hidden;
}

.contentBox {
    height:100%;
    width:90%;
   	padding: 10% 5%;
}

.rs {
		width:auto;
    height:auto;
    max-height:90%;
    max-width:100%;
}

.skillsLogo {
	font-size: 70px;
	color: White;
}


@media screen and (max-width: 767px) {
	#skills-section h1{
		text-align: center;
	}
	.skillsLogo {
		font-size: 50px;
	}
	.skills {
		line-height: 15px;
	}
}
