.footer {
	padding-top: 1px;
	background-color: grey;
	text-align: center;
	height: 54px;
}

.footer i {
	font-size: 25px;
	padding: 0 15px 0 15px;
}

.footer i:hover {
	color: #30CEFF;
}


.copyright {
	opacity: 0.9;
	margin: 0;
}

@media screen and (max-width: 767px){
	.footer {
		height: 68px;
	}

	.copyright {
		margin: 10px;
	}
}
