
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


#sidebar-wrapper {
	  z-index: 1000;
		background-color: transparent;
    position: fixed;
    left: 180px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
/* Sidebar Styles */

.sidebar-nav {
		z-index: 1000;
		position: absolute;
    bottom: 0;
		left:0;
    width: 250px;
    margin: 0;
    list-style: none;
}

.sidebar-nav li {
	display: block;
	transform: rotate(90deg);
   line-height: 60px;
}

.sidebar-nav li a {
    text-decoration: none;
    color: black;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: white;
		background-color: #30CEFF;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
	text-decoration: none;
   color: white;
		background-color: #30CEFF;
}

//arrow
.contentDiv {
    background-color:transparent;
    height: 50px;
    position: relative;
		transform: rotate(270deg);
    width: 50px;
}

@keyframes bouncing {
    0% {bottom: 0;}
    50% {bottom: 20px;}
    100% {bottom: 0;}
}

.arrow {
    animation: bouncing 1s infinite ease-in-out;
    bottom: 0;
    display: block;
    height: 30px;
    left: 50%;
    margin-left: -15px;
    position: absolute;
    width: 30px;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }
    #sidebar-wrapper {
        width: 250px;
    }
}

@media screen and (max-width: 767px) {
  #sidebar-wrapper {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}